/* Nível Básico: Blog Pessoal
Tema: Blog pessoal sobre viagens.
Descrição: O site terá um cabeçalho com o título do blog, uma barra lateral para navegação, uma seção de conteúdo principal para os posts e um rodapé simples. */

@charset "UTF-8";

html, body {
    height: 100vh;
    width: 100%;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

