@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
------------------------------

Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: a partir de 1200px
*/

@media screen and (min-width: 768px) {
    body {
        background-image: url(../imagens/fundo-tela-grande.jpeg);
    }

    section {
        height: 90vh;
        width: 90vw;
        max-width: 1000px;
    }

    section > div#imagem {
        float: left;
        border-right: 3px solid black;
        height: 100%;
        width: 45%;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    section > div#login {
        float: right;
        width: 55%;
    }
}