@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url('../imagens/fundo-tela-celular.jpeg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section {
    background-color: white;
    position: absolute;
    border: 3px solid limegreen;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);

    height: 90vh;
    width: 80vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    transition: width 1s, height 1s;
    transition-timing-function: ease;
}

section > div#imagem {
    display: block;
    background-image: url('../imagens/imagem.jpg');
    height: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 3px solid black;
}

section > div#login {
    display: block;
    padding: 15px;
}

div h1 {
    text-align: center;
    margin: 10px;
}

div p {
    margin: 10px;
}

.campo {
    margin: 10px;
    height: 40px;
    background-color: purple;
    display: block;
    width: 96%;
    border-radius: 8px;
    overflow: hidden;
    border-style: border-box;
    border: 3px solid purple;
}

.campo > label > span {
    color: white;
    font-size: 2em;
    height: 40px;
    width: 40px;
    transform: translate(4px, 1px);
}

.campo > input {
    border: 0px;
    height: 40px;
    width: calc(100% - 50px);
    transform: translateY(-9px);
    border-radius: 8px;
    padding-left: 10px;
}

.campo > input:focus {
    outline: none;
}

form > input {
    display: block;
    font-size: 1em;
    width: 96%;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit] {
    background-color: #6cd4ff;
}

form > input[type=submit]:hover {
    background-color: #127099;
    color: white;
}

form > input[type=button] {
    border: 1px solid rgb(0, 0, 0, 0.3);
}

form > input[type=button]:hover {
    background-color: #666666;
    color: white;
    border: 1px solid rgba(255, 255, 255);
}